.btn {
    padding: 10px;
    display: inline-block;
    border: 2px solid #000;
    white-space: nowrap;
    transition: 0.2s;
    text-decoration: none;
    font-size: 0.8em;
}

.primary {
    color: #fff;
    background-color: #000;
}

.primary:hover {
    background-color: #333;
}

.secondary {
    color: #000;
    background-color: #fff;
}

.secondary:hover {
    background-color: #eee;
}

.btn:hover {
    cursor: pointer;
}