{% extends 'base.html' %}
{% load static %}

{% block title %}Edycja danych{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href={% static 'users/style.css' %}>
{% endblock stylesheets %}

{% load crispy_forms_tags %}
{% block navbarPlace %}
{% include "navbar.html" %}
{% endblock navbarPlace %}
{% block content %}
    <div class="form-wrap">
        <h1>Edycja danych osobowych</h1>
        <br>
        <form class="mb-5" method="POST">
            {% csrf_token %}
            {{user_form|crispy}}
            {{profile_form|crispy}}
            {{profile_form.media}}
            <button type="submit" class="btn btn-secondary mt-3">Zatwierdź</button>
            <a href="{% url 'users:dashboard-view' %}" class="btn btn-danger ms-2 mt-3">Powrót</a>
        </form>
    </div>
    
{% endblock content %}