{% load static %}
<nav class="navbar navbar-expand-lg fixed-top quiz-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="brand-img"> {% comment %}Logo{% endcomment %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="#">TMP</a>
          </li>
      
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li class="nav-item">
            <a class="nav-link" href="/admin/" target="blank">Administracja</a>
            </li>
            {%endif %}

            <li id="profile-btn" class="nav-item">
            <a class="nav-link" href="{% url 'users:dashboard-view' %}">Panel</a>
            </li>
            
            <li id="logout-btn" class="nav-item">
            <a class="nav-link" href="{% url 'users:logout-view' %}">Wyloguj</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register-view' %}">Rejestracja</a>
            </li>
  
            <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login-view' %}">Logowanie</a>
            </li>
        {% endif %}
  
        </ul>
      </div>
    </div>
  </nav>